.navbar {
    background-color: #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Increased padding for better touch interaction */
    color: #fff;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  /* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .navbar {
      padding: 10px;
    }
  
    .logo img {
      width: 30px;
      margin-right: 5px;
    }
  }
